@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

@font-face {
  font-family: parsel-tounge;
  src: url(PARSELTO.TTF);
}

body {
    background-color: beige;
}

address {
  display: block;
}


.title {
    font-family: 'Langar';
    color: black;
    text-align: center;
}

.Head {
  font-family: main-title;
  text-align: center;
  font-size: 48px;
  color: rgb(51, 51, 51);
}

.Heading1 {
    font-family: Amatic SC;
    text-align: center;
    font-size: 48px;
    color: rgb(51, 51, 51);
}

.slyth {
  font-family: Amatic SC;
  text-align: left;
  font-size: 40px;
  color: rgb(30, 105, 20);
}

.gryff {
  font-family: Amatic SC;
  text-align: left;
  font-size: 40px;
  color: rgb(112, 8, 22);
}

.huff {
  font-family: Amatic SC;
  text-align: left;
  font-size: 40px;
  color: rgb(178, 180, 18);
}

.raven {
  font-family: Amatic SC;
  text-align: left;
  font-size: 40px;
  color: rgb(14, 21, 112);
}


.pa {
    font-family: shadows into light;
    font-size: 32px;
    color: black;
}

.pb {
    font-family: shadows into light;
    font-size: 28px;
    color: black ;
    
}

.pc {
  font-family: shadows into light;
  font-size: 26px;
  color: black;
}


.px {
    font-family: amatic sc;
    size: 30px;
    font-size: 30px;
}

.arrowimg {
    display: flex;
    align-items:center;
    justify-content:center;

}

.topnav {
    background-color: rgb(8, 5, 5);
    border: 5px outset lightgray;
    overflow: hidden;
   
  }
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 23px 25px;
    font-size: 26px;
    font-family: Amatic SC;
}

.topnav a:hover {
    background-color: rgb(246, 250, 10);
    color: black;
    font-family: shadows into light;
      }

.topnav a.active {
    background-color: gray;
    color: rgb(234, 255, 49);
    font-family: Amatic SC;
      }

.whatplayer {
    background-color: yellow;
    border: 5px outset blanchedalmond;
    font-family: PARSEL-TOUNGE;
    font-size: 60px;
    text-align: center;
}

.quotes {
    font-size: 40px;
    font-family: shadows into light;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.this-that {
  background-color: black;
  color: yellow;
  font-size: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer {
    background-color:yellow;
    border: 5px outset blanchedalmond;
    font-family: caveat;
   color: black;
    font-size: 27px;
    text-align: center;
}

 
    



